<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <packageSources>
    <clear />
    <add key="DataManagement" value="https://pkgs.dev.azure.com/SimCorpCloud/bbaa8b4b-2d1f-4fde-b84a-a2278f458da3/_packaging/DataManagement/nuget/v3/index.json" />
    <add key="NuGet.org" value="Https://api.nuget.org/v3/index.json" />
  </packageSources>

  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>

  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>

  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
</configuration>